{% extends 'base.html' %}
{% block title %}Inicio de sesión{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center py-5" style="min-height: 80vh;">
    <div class="card shadow border-0 p-4" style="max-width: 450px; width: 100%; background-color: #ffffff; border-radius: 12px;">
        <h2 class="text-center fw-bold mb-2 text-bronze">
            <i class="bi bi-person-circle me-1"></i>Iniciar sesión
        </h2>


        <p class="text-center small text-muted mb-4">
            ¿No tienes una cuenta? <a href="{% url 'registro' %}" class="text-primary fw-semibold">Regístrate aquí</a>
        </p>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
        {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Email -->
            <div class="mb-3">
                <label for="email_l" class="form-label">Correo electrónico</label>
                <input type="email" id="email_l" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" placeholder="Ingrese su correo electrónico">
                {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <!-- Contraseña -->
            <div class="mb-3">
            <label for="password_l" class="form-label">Contraseña</label>

            <div class="position-relative">
                <input type="password" id="password_l" name="password" 
                    class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
                    placeholder="Ingrese su contraseña">

                <i class="bi bi-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 toggle-password"
                style="cursor: pointer;" onclick="togglePassword()"></i>
            </div>

            {% for error in form.password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            </div>

            <!-- Link recuperación -->
            <div class="text-end mb-3">
                <a href="{% url 'password_reset' %}" class="small">¿Olvidaste tu contraseña?</a>
            </div>

            <!-- Botón -->
            <div class="d-grid">
                <button type="submit" class="btn btn-block btn-bronze w-100">
                    <i class="bi bi-box-arrow-in-right me-2"></i> Iniciar sesión
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
