{% extends 'base_admin.html' %}
{% load static %}

{% block content %}
<h2>Administrar Productos</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Agregar producto</button>
</form>

<hr>

<h3>Listado de productos</h3>
<<ul>
  {% for producto in productos %}
    <li>
      <strong>{{ producto.nombre }}</strong> - 
      Stock: {{ producto.stock }} - 
      Precio: ${{ producto.precio_actual }}
      {% if producto.oferta_vigente %}
        (¡En oferta: ${{ producto.precio_actual }}!)
      {% endif %}
      <a href="{% url 'editar_producto' producto.id %}" class="btn btn-sm btn-outline-primary ms-2">Editar</a>
      <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-sm btn-outline-danger ms-1" 
         onclick="return confirm('¿Seguro que quieres eliminar este producto?')">Eliminar</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
